.header{
    background-color: black;
    width: 100%;
    height: 12vh;
    margin-bottom: 5%;
}
h1{
    color: red;
    font-size: 10ch;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titleMovie{
    font-size: 2ch;
    color: #000000;
}
.descriptionMovie{
    color: #838383;
}
.cards{
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
    
}
.content{
    align-items: center;
    justify-content: center;
    display: flex;
  
}
.card{
    height: 60vh;
    width: 100%;
   
    border-radius: 3vh;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.image{
    width: 100%;
    height: 85%;
 
 
}

img{
    width: 100%;
    height: 100%;
    border-radius: 3ch;
}

.contentCards{
    width: 100%;
    margin: 4rem;
}

.windowInput{
    margin-top: 3%;
    width: 100%;
    height: 5vh;
}

input{
    width: 50%;
    height: 50%;
    border-radius: 4ch 0ch 0ch 4ch;
    border-color: #ffffff;
    outline-width: 0;
}
.windomButton{
    width: 100%;
    height: 50%;
}
button{
    background-color: #838383;
    color: #ffffff;
    width: 6vw;
    height: 3.5vh;
    border-radius: 0px 4ch 4ch 0px;
    position: relative;
    left:518px;
    bottom: 49.7px;
 
   
}
.detail{
    width: 100%;
    height: 50vh;
    
}
#img{
    width: 20vw;
}
#home{
    position: relative;
    left: 0;
    bottom: 0;
    color: #000;
    border-radius: 3ch;
    margin-top: 8%;

}
.justCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4%;

}
#title{
    color: white;
    font-size: 5ch;
}
span{
    color: #ffffff;
    width: 50%;
    margin-top: 1%;
}
.informationMovie{
    display: flex;
    flex-direction: column;
    align-items: center;
}